[submodule "OpenPLC_version_2/hardware"]
	path = OpenPLC_version_2/hardware
	url = https://github.com/FOSSEE/openplc_v2.git
	branch = master
[submodule "OpenPLC_modules/hardware"]
	path = OpenPLC_modules/hardware
	url = https://github.com/FOSSEE/openplc_modules.git
	branch = master
